#login {
    width: 350px;
    margin: auto;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}
#login h1 {
    text-align: center;
}
body {
    background-image: url(https://img.freepik.com/free-vector/gradient-connection-background_23-2150512701.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
   
}
#logSub {
    width: 85%;
    margin-left: 7%;
}
#redir {
    margin-top: 15px;
}